@model List<WebAppNet2.Models.DTO.OrdersDTO>
@{
    ViewData["Title"] = "Đơn hàng mới";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="m-3">Danh sách đơn hàng</h1>

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="flex: 0 0 calc(25% - 2rem);">
            <div class="card-header">
                <a href="@Url.Action("Detail", "OrderManager", new { orderID = item.OrderID })" class="text-decoration-none">
                    <h5 class="card-title">@item.Status</h5>
                </a>
            </div>
            <div class="card-body d-flex flex-column">
                <div>
                    <p class="card-text">@item.fullName</p>
                    <p class="card-text">@item.PhoneNumber</p>
                    <p class="card-text">@item.Address</p>
                </div>
                <p class="card-text">   </p>
                <p class="card-text mt-auto text-end">
                    <b class="text-danger">@string.Format("{0:C0}", item.TotalAmount)</b>
                </p>
                <div class="d-flex justify-content-end">
                    <a href="@Url.Action("Cancel", "OrderManager", new { orderID = item.OrderID })" class="btn btn-secondary me-3">Hủy</a>
                    <a href="@Url.Action("Confirm", "OrderManager", new { orderID = item.OrderID })" class="btn btn-primary">Xác nhận</a>
                </div>
            </div>
        </div>
    }
</div>
