@model IEnumerable<WebAppNet2.Models.DTO.ProductsVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="m-3">Danh sách sản phẩm </h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-success">Thêm sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentImagePath) 
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName) 
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.colorSizesDTO) 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.Raw($"<img src='{item.CurrentImagePath}' alt='Ảnh sản phẩm' class='img-thumbnail' style='width: 80px; height: 80px; object-fit: cover;' />")

            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @foreach (var itemColorSize in item.colorSizesDTO)
                {
                    <p> Màu: @itemColorSize.ColorName - Kích cỡ: @itemColorSize.SizeName - Số lượng: @itemColorSize.Quantity </p>
                }
            </td>
         
              
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-warning">Cập nhật</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
