@model  List<WebAppNet2.Models.DTO.CategoriesVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="m-3">Danh sách danh mục</h1>

<hr />

<p>
    <a href="@Url.Action("Create","Categories")" class="btn btn-primary m-1 ">Thêm danh mục</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên danh mục")
            </th>
            <th>
                @Html.DisplayName("Số sản phẩm")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountNumberProductByCategory)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Categories",new{id = item.CategoryID})" class="btn btn-warning ">Cập nhật</a> |
                   
                    <a href="@Url.Action("Delete","Categories",new{id = item.CategoryID})" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }

    </tbody>
</table>
