<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


    <style>
        /* Căn chỉnh chiều cao ul và h1 */
        .main-navbar .navbar-collapse {
            display: flex; /* Sử dụng Flexbox */
            justify-content: center; /* Căn giữa theo chiều ngang */
            align-items: center; /* Căn giữa theo chiều dọc */
        }

        .main-navbar .navbar-nav {
            display: flex; /* Hiển thị các mục trên một dòng */
            justify-content: space-evenly; /* Chia đều khoảng cách */
            align-items: center; /* Căn giữa dọc */
            width: 100%; /* Chiều ngang full */
            height: 100%; /* Đảm bảo chiều cao khớp */
        }

        .main-navbar .nav-item {
            margin: 0 15px; /* Khoảng cách giữa các mục menu */
        }

        .main-navbar .nav-link {
            font-size: 1.2rem; /* Tăng kích thước chữ */
            padding: 0.5rem 1rem; /* Thêm khoảng cách */
        }

        .main-navbar .navbar-brand h1 {
            font-size: 3rem; /* Kích thước logo */
            margin: 0; /* Loại bỏ khoảng trắng thừa */
            margin-top: 10%; /* Đẩy logo xuoonsg */
            line-height: 1; /* Đảm bảo chiều cao khớp */
        }

        .main-navbar .navbar-brand,
        .main-navbar .navbar-nav {
            height: 4rem; /* Đặt chiều cao ul và logo bằng nhau */
        }

        .custom-secondary {
            background-color: rgba(108, 117, 125, 0.1); /* Màu secondary Bootstrap với độ trong suốt 10% */
        }

    </style>


</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark auth-navbar  custom-secondary ">
            <ul class="navbar-nav ms-auto d-flex align-items-center me-4">
                <li class="nav-item">
                    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 d-flex">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item d-flex align-items-center me-5">
                    <a href="@Url.Action("Index","Cart")" class="cart-icon-navbar text-danger position-relative">
                        <i class="fas fa-shopping-cart" style="font-size: 1.5rem;"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                        </span>
                    </a>

                </li>

                <!-- Navbar-->
                <ul class="navbar-nav ms-auto  me-3 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Cài đặt</a></li>
                            <li><a class="dropdown-item" href="#!">Nhật ký hoạt động</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="@Url.Action("LogOut","Auth" , new { area = ""})">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 main-navbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Chính sách đổi trả</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <h1 class="font-monospace">Teelab</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="SizeGuideTable">Bảng Size</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="StoreSystem">Hệ thống cửa hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Teelab - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    $(document).ready(function () {
        // Gọi API để lấy số lượng item trong giỏ hàng
        $.get('@Url.Action("GetCartItemCount", "Cart")', function (data) {
            // Cập nhật số lượng vào biểu tượng giỏ hàng
            $('.cart-icon-navbar .badge').text(data);
        });
    });

</script>
</html>
